<section class="orders-show">
<%=@order.inspect%>
<%=@order.line_items.product.inspect%>

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

 <div class="container">
  <h2><%=@order.email%></h2>           
  <table class="table table-striped">

    <thead>
      <tr>
        <th>Description</th>
        <th>Price/ea</th>
        <th>Quantity</th>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
    <% @display_items.each do |item| %>
      <tr>
        <td>
            <h4><%=item[:product].name%></h4>
            <%=image_tag item[:product].image.tiny%>
            <p><%=item[:product].description%></p>
          </td>
        <td><%=humanized_money_with_symbol item[:price_each]/100%></td>
        <td><%=item[:quantity]%></td>
        <td><%=humanized_money_with_symbol item[:total_price]/100%></td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr>
      <th></th>
      <th></th>
      <th>Total Price:</th>
      <th><%=humanized_money_with_symbol @order.total_cents/100%></th>
    </tr>
    </tfoot>
  </table>

</div>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
